# ⚠️ Copy this file to .env and fill in your actual values

# Pinata API (for IPFS)
REACT_APP_PINATA_API_KEY=c5bb6c25ea50b90e7e6d
REACT_APP_PINATA_API_SECRET=b30785665ae0917c33bf7b53f807c651daf12052ef7cb0dac208b8260a8059fa

# Solana / Anchor
REACT_APP_SOLANA_NETWORK=devnet
REACT_APP_SOLANA_RPC_URL=https://api.devnet.solana.com
REACT_APP_ANCHOR_PROGRAM_ID=CWQmifkEM6m8JfMxcc6xCgVhUGtRPEypWA2tATev2KHM
# JWT for backend auth

JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIxZTIwNGRjNS0wYTU0LTQ2MzItOTkzYS1kZDg0ZTk3NThkYTkiLCJlbWFpbCI6InByYWthc2gua3VzYXJpQHNlbHUuZWR1IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImM1YmI2YzI1ZWE1MGI5MGU3ZTZkIiwic2NvcGVkS2V5U2VjcmV0IjoiYjMwNzg1NjY1YWUwOTE3YzMzYmY3YjUzZjgwN2M2NTFkYWYxMjA1MmVmN2NiMGRhYzIwOGI4MjYwYTgwNTlmYSIsImV4cCI6MTgwNTk4NDEwN30.TFCW2EtNDeJPHUpRbNQqtUChpUyhKOtuGSgDvDSSV0k




